/*Import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Estilos globais */
body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    width: 99%;
}

body p, li{
    font-family: 'Poppins', sans-serif;
}

/* Estilos do cabeçalho */
header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    max-height: 200px;
    max-width: 100vw;
    width: 99%;
    padding: 1%;
    margin: 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    width: 100%;
    height: 10%;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    
}

nav li {
    display: inline;
    margin: 0 10px 0 10px;
    padding: 0 5px;
}

nav li a{
    
    transition: all .2s ease-in-out;
}

nav li:hover{
    transform: scale(1.5);
}

nav li a:hover{
    font-weight: 700;
    color: rgb(0, 198, 247);
    
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilos da seção de banner */
section.banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

section.banner img {
    width: calc(100% + 26px);
}

/* Estilos da seção de serviços */
section.servicos {
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 100vw;
    width: 98%;
    margin: 0;
}

section.servicos h2 {
    font-size: 36px;
}

.group-cards {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}

.card{
    display: flex;
    background-color: #dadada;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px black;
}

.card-img{
    width: 50px;
    padding: 20px 0 40px 0;
}

.card-info{
    color: rgb(0, 0, 0);
}


/* Estilos da seção "Sobre Nós" */
section.sobre-nos {
    padding: 20px;
    text-align: justify;
    font-size: 20px;
}

section.sobre-nos h2 {
    font-size: 36px;
}

/* Estilos da seção de contato */
section.contato {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section.contato h2 {
    font-size: 24px;
}

section address p{
    font-style: normal;
    font-size: 16px;
    padding: 5px 0 5px 0;
    margin: 0;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    background-color: #003366;
    color: #fff;
    margin-bottom: -20px;
    padding: 1%;
    max-width: 100vw;
    width: 99%;
}

footer p{
    padding: 5px 0 10px 0;
}

/*estilização formulário*/

.form-paciente{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-paciente h2, .form-paciente h3{
    font-family: 'Cabin', sans-serif;
}

.form-paciente label{
    font-family: 'Poppins', sans-serif;
}

.form-paciente input, .form-paciente select{
    border: 1px solid black;
    border-radius: 5px;
    height: 4vh;
    padding: 0 10px;
}

.form-paciente input:focus, .form-paciente select:focus{
    outline: none;
}

.form-titulo{
    margin: 20px;
    font-size: 36px;
}


.form-titulo-dadosPaciente{
    font-size: 24px;
    margin: 0 20px;
}

.form-titulo-dadosConsulta{
    font-size: 24px;
    
}

.form-dadosPaciente, .form-dadosConsulta{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.form-dadosPaciente div:first-child{
    margin-right: 40px;
}

.form-dadosPaciente_contato{
    display: flex;
    flex-direction:column;
}

.form-dadosPaciente_contato label, .form-dadosPaciente_endereco label, .form-dadosConsulta label{
    padding: 10px 0;
}

.form-dadosPaciente_endereco{
    display: flex;
    flex-direction:column;
}

.submitButton{
    margin: 0 20px;
    color: white;
    font-weight: 600;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 5%;
    box-shadow: 5px 4px 5px 1px gray;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submitButton:hover{
    transform: scale(1.05);
}

.form-dadosConsulta{
    margin: 0;
    flex-direction: column;
    justify-content: left;
}

.ficha h1{
    font-size: 36px;
    margin: 20px;
}

.ficha-consulta{
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    background-color: #0080ff;
    padding: 20px;
    border-radius: 10px;
}

.ficha-consulta-dadosContato, .ficha-consulta-endereco, .ficha-consulta-dadosConsulta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
}

.ficha-consulta-dadosContato div, .ficha-consulta-endereco div, .ficha-consulta-dadosConsulta div{
    margin: 20px 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}

.ficha-consulta-dadosContato h2, .ficha-consulta-endereco h2, .ficha-consulta-dadosConsulta h2{
   color:#fff;
   font-family: 'Cabin', sans-serif;
}

.ficha-consulta-dadosContato span, .ficha-consulta-endereco span, .ficha-consulta-dadosConsulta span{
    color:#fff;
    font-family: 'Poppins', sans-serif;
 }

.sobreNos{
    margin: 40px 30px;
}
.sobreNos h1{
    font-size: 36px;
    font-family: 'Cabin', sans-serif;
}

.sobreNos h2{
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

.sobreNos p, .sobreNos li{
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}


